<div class="toolbar-section">
  <!-- Navigation Tabs with Pills Style -->
  <div class="navigation-pills">
    <button mat-button *ngFor="let tab of tabs; let i = index" [class.active]="selectedTabIndex === i"
      (click)="onTabChange(i)" class="pill-button">
      {{ tab }}
    </button>
  </div>

  <!-- Toolbar Content based on selected tab -->
  <div class="toolbar-container">
    <ng-container [ngSwitch]="selectedTab">
      <app-view-tools *ngSwitchCase="'view'" />
      <app-manage-tools *ngSwitchCase="'manage'" />
      <app-pages-tools *ngSwitchCase="'pages'" />
      <app-workflow-tools *ngSwitchCase="'workflow'" />
      <app-search-tools *ngSwitchCase="'search'" />
      <app-media-tools *ngSwitchCase="'media'" />
    </ng-container>
  </div>
</div>