<div class="blank-layout-container justify-content-center align-items-center">
  <div class="position-relative row w-100 h-100 bg-gredient"
    [style.background-image]="'url(/assets/images/backgrounds/backgroundLogin.png)'" [style.background-size]="'cover'"
    [style.background-position]="'center'">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <app-branding></app-branding>
          </div>

          <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="uname" />
              @if(f['uname'].touched && f['uname'].invalid) {
              <mat-hint class="m-b-16 error-msg">
                @if(f['uname'].errors && f['uname'].errors['required']) {
                <div class="text-error">Name is required.</div>
                } @if(f['uname'].errors && f['uname'].errors['minlength']) {
                <div class="text-error">Name should be 6 character.</div>
                }
              </mat-hint>
              }
            </mat-form-field>

            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" />
              @if(f['password'].touched && f['password'].invalid) {
              <mat-hint class="m-b-16 error-msg">
                @if(f['password'].errors && f['password'].errors['required']) {
                <div class="text-error">Password is required.</div>
                }
              </mat-hint>
              }
            </mat-form-field>
            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
            </div>
            <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid">
              Sign In
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>